networks:
  default:
    external: true  
    name: roboshop
services:
  web:
    image: web:v1
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    container_name: web
  mongodb:
    image: mongodb:v1
    container_name: mongodb
  catalogue:
    image: catalogue:v1
    container_name: catalogue
  redis:
    image: redis
    container_name: redis
  user:
    image: user:v1
    container_name: user
    depends_on:
    - mongodb
    - redis
  cart: 
    image: cart:v1
    container_name: cart
    depends_on:
    - catalogue
    - redis
  mysql:
    image: mysql:v1
    container_name: mysql
  
